/* Habilidades */

#skill-bars {
    /* background-color: #000; */
    overflow: hidden;
    width: 100%;
}

.skills{
    color: #FFF;
    width: 80%;
    margin: auto;
    z-index: 10;
}


.skill-bar-text{
    top: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 5px;
    width: 100%;
    font-size: small;
}

.skill-capacity {
    height: 24px;    
}

.skill-capacity:hover {
    background: linear-gradient(90deg, rgba(88, 48, 255, 1) 40%, rgba(122, 156, 255, 1) 100%);
    transition: 1s ease-in;
}


.skills-porcent {
    align-self: center;
}

.cont-title-skill {
    overflow: hidden;
}

.title-skill {
    margin: auto;
}

@media (max-width: 800px) {
    #skill-bars {
        overflow: hidden !important;
    }
}

.languages-skills {
    margin: 15px auto;
}

.languages-skills span {
    background-color: #aaa;
    color: #FFF;
    padding: 2px;
    border-radius: 2px;
}


/* Fin habilidades */