
.about-me-single-slide {
    overflow: visible;
}

.universal-h2-bckg,
.text-about {
    position: relative;
}

.fh5co-about-me{
    z-index: 1;
}

@media (max-width: 425px) {
    .fh5co-about-me {
        width: 90%;
    }
}


.about-me__profile {
    height: 310px;
    object-fit: cover;
    width:100%;
    height:100%;
}

.portfolio-wrapper{
    position: relative;
    object-fit: cover;
    width:300px;
    height:300px;
    -webkit-box-shadow: 10px 10px 15px 4px rgba(130,210,210,1);
    -moz-box-shadow: 10px 10px 15px 4px rgba(130,210,210,1);
    box-shadow: 10px 10px 15px 4px rgba(130,210,210,1);
}

.portfolio-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    width:300px;
    height:300px;
    /* background: #0d1b1e79; */
}

.portfolio-wrapper:hover{
    background: teal;
}

.about-me-bckg {
    position: absolute;
    /* background-image: url("../images/about-me-bckg.jpg"); */
    background-position: center;
    background-size: cover;
    height: calc(100% + 150px);
    width: 70%;
    z-index: -1;
}

.about-me-bckg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}

@media (max-width: 992px) {
    .about-me-bckg {
        width: 100%;
        padding-bottom: 15px;
    }
}

.about-me-inner {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .about-me-inner {
        flex-direction: column;
        align-items: center;
    }
}

.about-me-slider {
    position: relative;
}

.about-me-slider .slick-arrow {
    position: absolute;
    bottom: -18%;
}

.about-me-slider .slick-prev {
    left: 40%;
}

@media (max-width: 520px) {
    .about-me-slider .slick-prev {
        left: 34%;
    }
}

.about-me-slider .slick-next {
    right: 40%;
}

@media (max-width: 520px) {
    .about-me-slider .slick-next {
        right: 34%;
    }
}


.about-me__text .universal-h2 {
    color: #FFF;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.about-me__text p {
    margin-bottom: 35px;
    line-height: 24px;
    color: #FFF;
}

.about-me__text p span {
    font-weight: bold;
    color: #82D2D2;
}

@media (max-width: 620px) {
    .about-me__text p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
}

.about-me__text h4 {
    margin-bottom: 7px;
    font-size: 25px;
    color: #5830FF;
}

.about-me__text .p-white {
    margin-bottom: 0;
    color: #fff;
}

@media (max-width: 1250px) {
    .about-me__text {
        width: 48%;
        margin-right: 40px;
    }
}

@media (max-width: 992px) {
    .about-me__text {
        width: 100%;
        margin-right: 0;
    }
}