.main-navigation {
    color: #fff;
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.9;
}

.main-navigation .main-navigation__ul {
    padding: 3%;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 50pt;
    font-family: 'Prompt-Regular';
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5)
}

@media (max-width: 425px) {
    .main-navigation .main-navigation__ul {
        padding-top: 40%;
    }    
}

.main-navigation .main-navigation__ul li {
    margin-bottom: 20px;
    list-style: none;
}

.main-navigation .main-navigation__ul a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.main-navigation .main-navigation__ul a:hover {
    color: #777;
}